/log/
/log/*
/log/**/*
/log/**/**/*
/log/**/**/**/*
/log/**/**/**/**/*
/log/**/**/**/**/**/*
/log/**/**/**/**/**/**/*
/log/**/**/**/**/**/**/**/*
/log/**/**/**/**/**/**/**/**/*
/logs/
*.sql
*.txt
*.md
*.sh
*.bat
*.exe
